html, body
{
    margin: 0;
    padding: 0;
    background-color: #EDF7D2;
}

.header-container {
    width: 100%;
    border: 1px solid red;
    display: table;
    height: 100px;
}

.header {
    display: table;
    margin: 10px 5%;
}

.brand-div {
    font-family: sans;
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    font-size: 1.2em;
    color: #5B5B5B;
}

.controls {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.img-container {
    float: left;
    display: inline-block;
    margin: 5px;
}


figcaption, img {
    border: 2px solid #C9C19F;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-family: sans;
    text-align: center;
    border-top: none;
    padding: 2px 2px;
    color: #5B5B5B;
}

img {
    padding: 10px;
}

.current-brand-id {
    visibility: hidden;
    display: none;
}

.main {

}

.products-table-div {
    width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    text-align: center;
}

#products-table {
    display: inline-block;
    table-layout: fixed;
    width: 90%;
    margin: 20px 20px;
    border-collapse: collapse;
}

#products-table tr {
    border-bottom: 2px solid #C9C19F;
}

#products-table tr:last-child {
    border-bottom: none;
}

#products-table th:first-child {
    width: 30%;
    font-weight: normal;
    font-family: sans;
    font-size: 0.9em;
    padding: 20px 20px;
    color: #5B5B5B;
}

#products-table td {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #817F75;
    width: 70%;
}

/* buttons */

.button {
    background-color: #5B5B5B;
    border: none;
    color: #EDF7D2;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    font-family: sans;
    cursor: pointer;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #5B5B5B;
    color: #EDF7D2;
    padding: 5px 32px;
    font-size: 1.2em;
    font-family: sans;
    border: none;
    cursor: pointer;
    min-width: 180px;
    vertical-align: middle;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-family: sans;
    font-size: 0.9em;
    min-width: 180px;
    height: 300px;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #5B5B5B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #EDF7B5}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #7D7C7A;
}

/* asdasdsad */

.spinner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    border: .25em solid rgba(91, 91, 91, .1);
    border-top: .25em solid #5B5B5B;
    border-radius: 100%;
    height: 1.2em;
    width: 1.2em;
    animation: rot .5s infinite linear;
}

@keyframes rot {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
