<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


            $(function() {
                //set at page start
                var brand_ids = []
                $('.spinner').hide();

                $('.brand-name-li').each(function () {
                    brand_ids.push($(this).attr('brand-id'));
                });

                $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-1]);
                $('button#next_brand').attr('brand-id', brand_ids[0]);

                //end

                //previous brand click action
                $('button#previous_brand').bind('click', function() {
                    $('.spinner').show();
                    $.getJSON($SCRIPT_ROOT + '/_get_prods_by_id', {
                        product_id: $('button#previous_brand').attr('brand-id')
                    }, function(data) {
                        $('.current-brand-id').attr('current-brand-id', $('button#previous_brand').attr('brand-id'));
                        if (brand_ids.indexOf($('.current-brand-id').attr('current-brand-id')) == 0) {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-1]);
                            $('button#next_brand').attr('brand-id', brand_ids[1]);
                        }
                        else if (brand_ids.indexOf($('.current-brand-id').attr('current-brand-id')) == brand_ids.length-1) {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-2]);
                            $('button#next_brand').attr('brand-id', brand_ids[0]);
                        }
                        else {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.indexOf($('.current-brand-id').attr('current-brand-id'))-1]);
                            $('button#next_brand').attr('brand-id', brand_ids[brand_ids.indexOf($('.current-brand-id').attr('current-brand-id'))+1]);
                        }
                        $('#brand_name').text(data.brand_name);

                        $('#products-table').find('tbody').empty();

                        $.each(data.products_list, function(index, item) {
                            var tbody = $('#products-table').find('tbody')
                                .append($('<tr>')
                                    .append($('<th>')
                                        .text(item.prdName)
                                    )

                                    .append($('<td>')
                                    )
                                )

                            var td = tbody.find('td').last();

                            $.each(item.imgs, function(index, img_item) {
                                td.append($('<div>')
                                    .attr('class', 'img-container')
                                    .append($('<figure>')
                                        .append($('<img>')
                                            .attr('src', img_item[0])
                                        )
                                        .append($('<figcaption>')
                                                .text(img_item[1])
                                        )
                                    )
                                )
                            });
                        });
                        $('.spinner').hide();

                    });
                    return false;
                });

                //next brand click action
                $('button#next_brand').bind('click', function() {
                    $('.spinner').show();
                    $.getJSON($SCRIPT_ROOT + '/_get_prods_by_id', {
                        product_id: $('button#next_brand').attr('brand-id')
                    }, function(data) {
                        $('.current-brand-id').attr('current-brand-id', $('button#next_brand').attr('brand-id'))
                        if (brand_ids.indexOf($('.current-brand-id').attr('current-brand-id')) == brand_ids.length-1) {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-2]);
                            $('button#next_brand').attr('brand-id', brand_ids[0]);
                        }
                        else if (brand_ids.indexOf($('.current-brand-id').attr('current-brand-id')) == 0) {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-1]);
                            $('button#next_brand').attr('brand-id', brand_ids[1]);
                        }
                        else {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.indexOf($('.current-brand-id').attr('current-brand-id'))-1]);
                            $('button#next_brand').attr('brand-id', brand_ids[brand_ids.indexOf($('.current-brand-id').attr('current-brand-id'))+1]);
                        }
                        $('#brand_name').text(data.brand_name);

                        $('#products-table').find('tbody').empty();

                        $.each(data.products_list, function(index, item) {
                            var tbody = $('#products-table').find('tbody')
                                .append($('<tr>')
                                    .append($('<th>')
                                        .text(item.prdName)
                                    )

                                    .append($('<td>')
                                    )
                                )

                            var td = tbody.find('td').last();

                            $.each(item.imgs, function(index, img_item) {
                                td.append($('<div>')
                                    .attr('class', 'img-container')
                                    .append($('<figure>')
                                        .append($('<img>')
                                            .attr('src', img_item[0])
                                        )
                                        .append($('<figcaption>')
                                                .text(img_item[1])
                                        )
                                    )
                                )
                            });

                            $('.spinner').hide();
                        });



                    });
                    return false;
                });

                //end

                //dropdown brand click action
                $('.dropdown-content a').bind('click', function() {
                    current_brand_id = $(this).attr('brand-id');

                    $('.spinner').show();

                    $.getJSON($SCRIPT_ROOT + '/_get_prods_by_id', {
                        product_id: $(this).attr('brand-id')
                    }, function(data) {
                        $('.current-brand-id').attr('current-brand-id', current_brand_id);
                        if (brand_ids.indexOf($('.current-brand-id').attr('current-brand-id')) == brand_ids.length-1) {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-2]);
                            $('button#next_brand').attr('brand-id', brand_ids[0]);
                        }
                        else if (brand_ids.indexOf($('.current-brand-id').attr('current-brand-id')) == 0) {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.length-1]);
                            $('button#next_brand').attr('brand-id', brand_ids[1]);
                        }
                        else {
                            $('button#previous_brand').attr('brand-id', brand_ids[brand_ids.indexOf($('.current-brand-id').attr('current-brand-id'))-1]);
                            $('button#next_brand').attr('brand-id', brand_ids[brand_ids.indexOf($('.current-brand-id').attr('current-brand-id'))+1]);
                        }

                        $('#brand_name').text(data.brand_name);

                        $('#products-table').find('tbody').empty();

                        $.each(data.products_list, function(index, item) {
                            var tbody = $('#products-table').find('tbody')
                                .append($('<tr>')
                                    .append($('<th>')
                                        .text(item.prdName)
                                    )

                                    .append($('<td>')
                                        // .attr('white-space', 'nowrap');
                                    )
                                )

                            var td = tbody.find('td').last();

                            $.each(item.imgs, function(index, img_item) {
                                td.append($('<div>')
                                    .attr('class', 'img-container')
                                    .append($('<figure>')
                                        .append($('<img>')
                                            .attr('src', img_item[0])
                                        )
                                        .append($('<figcaption>')
                                                .text(img_item[1])
                                        )
                                    )
                                )
                            });
                        });

                        $('.spinner').hide();
                    });

                    return false;
                });

                //end

            });
        </script>
    </head>
    <body>
        <div class='main'>
            <div class='header'>
                <div class='brand-div'>Brand: <span id='brand_name'></span></div>
                <div class='controls'>
                    <button class='button' id='previous_brand' brand-id=''>&lt;</button>
                    <button class='button' id='next_brand' brand-id=''>&gt;</button>
                    <div class='dropdown'>
                        <button class='dropbtn'>Brands List</button>
                        <div class='dropdown-content'>
                            {% for brand_tuple in brands_tuples_list %}
                                <a href='#' brand-id='{{ brand_tuple[0] }}' class='brand-name-li'>{{ brand_tuple[1] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="spinner">
                    </div>
                </div>
            </div>
            <div class='products-table-div'>
                <table id='products-table'>
                    <tbody>
                    </tbody>
                </table>
                <div id='result'></div>
            </div>
            <div current-brand-id='' class='current-brand-id'></div>
        </div>
    </body>
</html>
